*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: 'Nonite';
}

body{
    width: 100%;
}

header{
    width: 100%;
}

nav{
    box-sizing: content-box;
    width: 100%;
    min-width: 100%;
    min-height: 10%;
    background-color: blue;
    padding: 2% 0;
}

nav p{
    margin-left: 2%;
}

#main{
    width: 100%;
    background-color: orchid;
}

#cuatroPartes{
    width: 100%;
    background-color: orange;
    float: left;
    display: flex;
}

#tresPartes{
    width: 50%;
    float: left;
    background-color: pink;
    min-height: 100%;
}

#fotoGrande{
    width: 50%;
    float: left;
    display: flex;
}

#fotoGrande img{
    width: 100%;
}

#textoRectangulo{
    width: 100%;
    background-color: green;
    float: left;
    text-align: center;
    min-height: 50%;
    display: flex;
    align-items: center;
}

#textoRectangulo p{
    margin: auto 5%;
}

#fotoPeque{
    width: 50%;
    float: left;
    display: flex;
    min-height: 50%;
}

#fotoPeque img{
    width: 100%;
}

#textoPeque{
    width: 50%;
    float: left;
    background-color: red;
    text-align: center;
    min-height: 50%;
    max-height: 50%;
    display: flex;
    align-items: center;
}

#textoPeque p{
    margin: auto 10%;
    max-height: 50%;
    display: flex;
    
}

/*--- CONTROLADOR -----------------------------------*/

#controlador{
    display: block;
    width: 100%;
    background-color: chocolate;
    float: left;
}

#marcoLuces{
    display: grid;
    width: 96%;
    background-color: darkgreen;
    float: left;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 2%;
    text-align: center;
}

#botonRojo{
    background-color: red;
}

#botonAmarillo{
    background-color: yellow;
}

#botonVerde{
    background-color: green;
}

#botonAzul{
    background-color: blue;
}

#contCuadros{
    display: flex;
    width: 96%;
    text-align: center;
    padding: 2%;
    float: left;
}

.conInterfaz{
    display: block;
    min-width: 46%;
    float: left;
    padding: 2%;
}

.conInterfaz h4{
    display: block;
    min-width: 55%;
}


.conCuadrados{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: 2%;

    float: left;
    margin: 0 auto;
}

.cuboBasico{
    display: block;
}

.cuboBasico img{
    width: 100%;
    height: 100%;
}

#botonesMaster{
    display: flex;
    float: left;
    background-color: cyan;
    width: 100%;
}

#conOnOff{
    float: left;
    padding: 2%;
    margin-left: 10%;
}

#conOnOff label input{
    width: 150%;
    height: 150%;
}

#conControl{
    display: flex;
    float: left;
    background-color: darkgreen;
    margin-left: auto;
}

.luz{
    opacity: 10%;
}
