*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;

}

body{
    width: 100%;
    font-size: 100%;;
    font-family: Confortaa;
}

p{
    font-size: 0.8125em;
}
 
#titulos{
    font-size: 1.38461538em ;
}

header{
    width: 100%;
    max-height: 20%;
}


nav{
    width: 100%;
    height: 18%;
    overflow:hidden;
}

footer{
    width: 100%;
    background-color: black;
    color: white;
    clear: both;
}

footer p {
    padding: 0.8%;
}

#logo{
    padding: 0.8em;
    height: 100%;
    width: 15%;
    margin: 0 40%;
    display: block;
    
}

#login{
    padding: 0.8em;
    float: right;
    height: 100%;
    max-width: 20%;

}

#login label input{
    background-color: transparent;
    border: 0;
    border-bottom: 0.2em solid black;
    width: 80%;
    outline: 0;
    padding-left: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.5em;

}

#login label input::placeholder{
    color: black;
}

#login input{
    background: lightgrey;
    border: 0.2em solid black;
    margin-top: 1em;
    padding: 0.5em;
    width: 80%;

}


#menu{
    width: 2%;
    padding: 0.8em;
    float: left;
}

ol{
  list-style-type: none;
}
a[href]{
  color: #ffffff;
  position: relative;
  text-decoration: none;
}

  &:hover
    &:after
      transform scaleX(1)

  &:after
    content ''
    position absolute
    top 100%
    height 4px
    background #fff
    left 0
    right 0
    transition transform $duration
    transform-origin left
    transform scaleX(0)


.menu
  position relative
  width $width

  &__content
    color #ffffff
    margin 0
    padding 0 0 25px 0
    position absolute
    right 100%
    top 0
    width $width
    z-index 2

  &__toggle-label
    height 44px
    left 0
    position absolute
    width 44px

    svg
      left 0
      position absolute
      top 0
      transition transform $duration
      z-index 2

      &:nth-of-type(2)
        left $width
        transform scale(0)

  &__toggle
    opacity 0
    position fixed

    &:checked ~ .menu__toggle-label
      background rgba(0, 0, 0, 0.65)
      height 100vh
      left 0
      position fixed
      top 0
      transition background $duration
      width 100vw

      svg:nth-of-type(1)
        transform scale(0)

      svg:nth-of-type(2)
        left $width
        transform scale(1)
        transition transform $duration
        transition-delay $borderDelay + $delayStep

    &:checked ~ .menu__content
      transform translate(100%, 0)

      .menu-item
        transform translateX(0)
        transition transform $duration cubic-bezier(0.175, 0.885, 0.32, 1.275), border-color $duration

        $colors = #9b59b6 #86e2d5 #f5ab35 #1e8bc3 #e26a6a
        for $item in (1..5)
          &:nth-of-type({$item})


            a[href]:after
              background $colors[$item - 1]

            border-color $colors[$item - 1]
        &:nth-of-type(1)
          transition-delay ($baseDelay), $borderDelay
        &:nth-of-type(2)
          transition-delay ($baseDelay + $delayStep), $borderDelay
        &:nth-of-type(3)
          transition-delay ($baseDelay + (2 * $delayStep)), $borderDelay
          .menu-item
            &:nth-of-type(1)
              transition-delay ($baseDelay + (3 * $delayStep)), $borderDelay
            &:nth-of-type(2)
              transition-delay ($baseDelay + (4 * $delayStep)), $borderDelay
            &:nth-of-type(3)
              transition-delay ($baseDelay + (5 * $delayStep)), $borderDelay
        &:nth-of-type(4)
          transition-delay ($baseDelay + (6 * $delayStep)), $borderDelay
          .menu-item
            &:nth-of-type(1)
              transition-delay ($baseDelay + (7 * $delayStep)), $borderDelay
            &:nth-of-type(2)
              transition-delay ($baseDelay + (8 * $delayStep)), $borderDelay
            &:nth-of-type(3)
              transition-delay ($baseDelay + (9 * $delayStep)), $borderDelay
        &:nth-of-type(5)
          transition-delay ($baseDelay + (10 * $delayStep)), $borderDelay

$itemSize = 44px
.menu__content > .menu-item
  border-left 8px solid transparent
  > a
    line-height $itemSize
    min-width 60px

.sub-menu
  padding 0 0 0 $itemSize

.menu-item{
  line-height $itemSize
  min-height $itemSize
  padding 0 12px
  transform translateX(-100%)

.menu-item
    transform translateX(-150%)
}

nav{
    box-sizing: content-box;
    width: 100%;
    min-width: 100%;
    min-height: 10%;
    background-color: #F3E5AB ;
    background-image: linear-gradient(#F3E5AB, #614015);
    position: fixed;
}


#main{
    width: 100%;
    background-color: orchid;
}

#cuatroPartes{
    margin-top: 8%;
    width: 100%;
    background-color: orange;
    float: left;
    display: flex;
}

#tresPartes{
    width: 50%;
    float: left;
    background-color: pink;
    min-height: 100%;
}

#fotoGrande{
    width: 50%;
    float: left;
    display: flex;

}

#fotoGrande img{
    width: 100%;

}

#textoRectangulo{
    width: 100%;
    background-color: white;
    float: left;
    text-align: center;
    min-height: 50%;
    display: flex;
    align-items: center;
    border-bottom: 0.5em solid #6B000E;
}

#textoRectangulo p{
    margin: auto 5%;
}

#fotoPeque{
    width: 50%;
    float: left;
    display: flex;
    min-height: 50%;

}

#fotoPeque img{
    width: 100%;
}

#textoPeque{
    width: 50%;
    float: left;
    background-color: white;
    text-align: center;
    min-height: 50%;
    max-height: 50%;
    display: flex;
    align-items: center;

}

#textoPeque p{
    margin: auto 10%;
    max-height: 50%;
    display: flex;
    
}

#dosPartes{
    width: 100%;
    float: left;
    display: flex;
    border-top:0.5em solid #6B000E ;
}

#fotoGrande2{
    width: 50%;
    float: left;
    display: flex;

}
#tresPartes2{
    width: 50%;
    float: right;
    background-color: pink;
    min-height: 100%;
}

#fotoGrande2 img{
    width: 100%;
}

#textoRectangulo2{
    width: 100%;
    background-color: white;
    float: left;
    text-align: center;
    min-height: 50%;
    display: flex;
    align-items: center;
    border-bottom: 0.5em solid #6B000E;
}

#textoRectangulo2 p{
    margin: auto 5%;
}

#fotoPeque2{
    width: 50%;
    float: right;
    display: flex;
    min-height: 50%;

}

#fotoPeque2 img{
    width: 100%;
}

#textoPeque2{
    width: 50%;
    float: left;
    background-color: white;
    text-align: center;
    min-height: 50%;
    max-height: 50%;
    display: flex;
    align-items: center;

}

#textoPeque2 p{
    margin: auto 10%;
    max-height: 50%;
    display: flex;
    
}


#chocolates{
    width: 100%;
    float: left;
    display: flex;
    border-top:0.5em solid #6B000E ;
}

#chocolates img{
    width: 100%;
    
}

/*Contolador------*/
#controlador{
    display: block;
    width: 100%;
    background-color: chocolate;
    float: left;
    border-top:0.5em solid #6B000E ;
    border-bottom:0.5em solid #6B000E ;
    margin-bottom: 2em;
}

#marcoLuces{
    display: grid;
    width: 96%;
    background-color: darkgreen;
    float: left;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 2%;
    text-align: center;
}

#botonRojo{
    background-color: red;
    width: 8em;
    height:8em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: 40%;
}


#botonAmarillo{
    background-color: yellow;
    width: 8em;
    height:8em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: 20%;
}

#botonVerde{
    background-color: green;
    width: 8em;
    height:8em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: 20%;
}

#botonAzul{
    background-color: blue;
    width: 8em;
    height:8em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: 20%;
}

#contCuadros{
    display: grid;
    width: 96%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    padding: 2%;
}

#tableta{
    grid-column: 1;
    grid-row: 1;
}

#marcobotones{
    grid-column: 2;
    grid-row: 1;
}

.conCuadrados{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: 2%;
}

.cuboBasico{
    display: block;
}

.cuboBasico img{
    width: 100%;
    height: 100%;
}

#formulario{
    padding: 2em;
    padding-left: 12em;
    padding-right: 12em;
    background-color: white;

}


#formulario label input{
    background-color: transparent;
    border: 0;
    border-bottom: 0.2em solid gray;
    width: 100%;
    margin-bottom: 1em;
    margin-top: 1em;
    outline: 0;
    padding-left: 1em;
    padding-bottom: 0.5em;
}

#formulario input{
    background: lightgrey;
    border: 0.2em solid gray;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
}

#mapa{
    background-color: white;
    padding-left: 15em;
    padding-right: 15em;
    text-align: center;
}
#mapa iframe{
    padding: 0.5em;
}

@media screen and (max-width : 980px){ 
   
}
