*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;

}

body{
    width: 100%;
    font-size: 100%;;
    font-family: Confortaa;
}

p{
    font-size: 0.8125em;
}
 
#titulos{
    font-size: 1.38461538em ;
}

header{
    width: 100%;
    max-height: 20%;
}


nav{
    width: 100%;
    height: 18%;
    overflow:hidden;
}

footer{
    width: 100%;
    background-color: black;
    color: white;
    clear: both;
}

footer p {
    padding: 0.8%;
}

#logo{
    padding: 0.8em;
    height: 100%;
    width: 15%;
    margin: 0 40%;
    display: block;
    
}

#login{
    padding: 0.8em;
    float: right;
    height: 100%;
    max-width: 20%;

}

#login label input{
    background-color: transparent;
    border: 0;
    border-bottom: 0.2em solid black;
    width: 80%;
    outline: 0;
    padding-left: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.5em;

}

#login label input::placeholder{
    color: black;
}

#login input{
    background: lightgrey;
    border: 0.2em solid black;
    margin-top: 1em;
    padding: 0.5em;
    width: 80%;

}


#menu{
    width: 4%;
    padding: 0.8em;
    float: left;
}

#menu-vertical {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.8);
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
}

#menu-vertical .boton-cerrar {
    position: absolute;
    top:    1rem;
    right: 1rem;
    font-size: 4rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 10%;
    width: 10%;
    text-align: center;

}


#menu-vertical  ul, #menu-vertical  li{
    margin:0;
    padding:0;
    list-style:none inside;
}

#menu-vertical  ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width:200px;
}

#menu-vertical a {
    display: block;
    font-size: 120%;
    color: white;
    text-decoration: none;
    padding-top: 2em;
    
}

#menu-vertical #linea:hover{
    color:white;
    border-bottom: 0.2em solid white;
}

nav{
    box-sizing: content-box;
    width: 100%;
    min-width: 100%;
    min-height: 10%;
    background-color: #F3E5AB ;
    background-image: linear-gradient(#F3E5AB, #614015);
    position: fixed;
}


#main{
    width: 100%;
    background-color: orchid;
}

#cuatroPartes{
    margin-top: 8%;
    width: 100%;
    background-color: orange;
    float: left;
    display: flex;
}

#tresPartes{
    width: 50%;
    float: left;
    background-color: pink;
    min-height: 100%;
}

#fotoGrande{
    width: 50%;
    float: left;
    display: flex;

}

#fotoGrande img{
    width: 100%;

}

#textoRectangulo{
    width: 100%;
    background-color: white;
    float: left;
    text-align: center;
    min-height: 50%;
    display: flex;
    align-items: center;
    border-bottom: 0.5em solid #6B000E;
}

#textoRectangulo p{
    margin: auto 5%;
}

#fotoPeque{
    width: 50%;
    float: left;
    display: flex;
    min-height: 50%;

}

#fotoPeque img{
    width: 100%;
}

#textoPeque{
    width: 50%;
    float: left;
    background-color: white;
    text-align: center;
    min-height: 50%;
    max-height: 50%;
    display: flex;
    align-items: center;

}

#textoPeque p{
    margin: auto 10%;
    max-height: 50%;
    display: flex;
    
}

#dosPartes{
    width: 100%;
    float: left;
    display: flex;
    border-top:0.5em solid #6B000E ;
}

#fotoGrande2{
    width: 50%;
    float: left;
    display: flex;

}
#tresPartes2{
    width: 50%;
    float: right;
    background-color: pink;
    min-height: 100%;
}

#fotoGrande2 img{
    width: 100%;
}

#textoRectangulo2{
    width: 100%;
    background-color: white;
    float: left;
    text-align: center;
    min-height: 50%;
    display: flex;
    align-items: center;
    border-bottom: 0.5em solid #6B000E;
}

#textoRectangulo2 p{
    margin: auto 5%;
}

#fotoPeque2{
    width: 50%;
    float: right;
    display: flex;
    min-height: 50%;

}

#fotoPeque2 img{
    width: 100%;
}

#textoPeque2{
    width: 50%;
    float: left;
    background-color: white;
    text-align: center;
    min-height: 50%;
    max-height: 50%;
    display: flex;
    align-items: center;

}

#textoPeque2 p{
    margin: auto 10%;
    max-height: 50%;
    display: flex;
    
}


#chocolates{
    width: 100%;
    float: left;
    display: flex;
    border-top:0.5em solid #6B000E ;
}

#chocolates img{
    width: 100%;
    
}

/*Contolador------*/
#controlador{
    display: block;
    width: 100%;
    background-color: chocolate;
    float: left;
    border-top:0.5em solid #6B000E ;
    border-bottom:0.5em solid #6B000E ;
    margin-bottom: 2em;
}

#marcoLuces{
    display: grid;
    width: 96%;
    background-color: darkgreen;
    float: left;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 2%;
    text-align: center;
}

#botonRojo{
    background-color: red;
    width: 8em;
    height:8em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: 40%;
}


#botonAmarillo{
    background-color: yellow;
    width: 8em;
    height:8em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: 20%;
}

#botonVerde{
    background-color: green;
    width: 8em;
    height:8em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: 20%;
}

#botonAzul{
    background-color: blue;
    width: 8em;
    height:8em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: 20%;
}

#contCuadros{
    display: grid;
    width: 96%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    padding: 2%;
}

#tableta{
    grid-column: 1;
    grid-row: 1;
}

#marcobotones{
    grid-column: 2;
    grid-row: 1;
}

.conCuadrados{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: 2%;
}

.cuboBasico{
    display: block;
}

.cuboBasico img{
    width: 100%;
    height: 100%;
}

#formulario{
    padding: 2em;
    padding-left: 12em;
    padding-right: 12em;
    background-color: white;

}


#formulario label input{
    background-color: transparent;
    border: 0;
    border-bottom: 0.2em solid gray;
    width: 100%;
    margin-bottom: 1em;
    margin-top: 1em;
    outline: 0;
    padding-left: 1em;
    padding-bottom: 0.5em;
}

#formulario input{
    background: lightgrey;
    border: 0.2em solid gray;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
}

#mapa{
    background-color: white;
    padding-left: 15em;
    padding-right: 15em;
    text-align: center;
}
#mapa iframe{
    padding: 0.5em;
}

@media screen and (max-width : 980px){ 
   
}
